@import "tailwindcss";
@tailwind utilities;

.container {
     margin: 0 auto;
}
.MuiTypography-root{
     font-family: var(--font-montserrat);
}

.bg-homepage{
     background: #F4F6FF;
}
.MuiPaper-root{
     box-shadow: unset !important;
     border: 1px solid #E0E0E0 !important;
}

.background-common{
     border-radius: 10px;
     border: 1px solid #E0E0E0;
     background: #FFF;
     padding: 16px;
}

.background-common-dark{
     border-radius: 10px;
     border: 1px solid #E0E0E0;
     background: #FFF;
     padding: 16px;
}